body {
    font-family: sans-serif;
    margin: 0;
}

.center {
    text-align: center;
}

.button {
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.button.light {
    background-color: white;
    color: #004650;
}

/* HOME -------------------------------------- */

.Home {
    background: rgb(23,0,93);
    background: linear-gradient(0deg, #00B3CC 0%, #d6ff7f 100%);
    height: 100vh;
}

.Home .top {
    height: calc(50% - 70px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Home .bottom {
    margin-top: 50px;
    position: relative;
    z-index: 2;
}

.Home .wave {
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: calc(50% - 70px);
    z-index: 1;
}

.Home .wave path {
    fill: rgb(255, 255, 255);
}

.Home h1 {
    margin: 0;
}

/* GAME -------------------------------------- */

.Game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.Game .Score {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    z-index: 1;
}

.Game .Score .score-item {
    display: flex;
    align-items: baseline;
    margin-left: 2em;
}

.Game .Score .score-item:first-of-type {
    margin-left: 0;
}

.Game .Score .score-item p {
    margin-left: 0.5em;
}

.Game .Score .score-item .correct {
    color: #a6e773;
    font-weight: bold;
}

.Game .Score .score-item .incorrect {
    color: #03b4cb;
    font-weight: bold;
}

.Game .core {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.Game .Display {
    margin: 0 auto 4em auto;
    max-width: 450px;
    min-width: 450px;
}

.Game .Display .staff {
    border-left: 4px solid black;
    position: relative;
}

.Game .Display .clef {
    height: 180px;
    left: 0;
    position: absolute;
    top: -40px;
}

.Display .line {
    border-bottom: 2px solid black;
    position: relative;
}

.Game .Display .space {
    padding: 11px;
    position: relative;
}

.Game .Display .note {
    background-color: black;
    border-radius: 100%;
    height: 22px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 34px; 
}

.Game .Display .line .note {
    top: -10px;
}

.Game .Display .note .sharp {
    height: 40px;
    margin: -10px 0 0 -35px;
    width: 25px;
}

.Game .Display .note .flat {
    margin: -20px 0 0 -35px;
    width: 25px;
}

.Game .Input {
    display: flex;
    justify-content: center;
}

.Game .Input .keyGroup {
    position: relative;
}

.Game .Input .key {
    background-color: white;
    border: 1px solid black;
    border-radius: 0 0 2px 2px;
    height: 100px;
    width: 30px;
}

.Game .Input .key:hover {
    background-color: #e2fffd;
}

.Game .Input .key:active {
    background-color: #dedede;
}

.Game .Input .key.sharp {
    background-color: #000;
    color: white;
    height: 70px;
    left: 20px;
    position: absolute;
    width: 20px;
    z-index: 1;
}

.Game .Input .key.sharp:hover {
    background-color: #003b6a;
}

.Game .Input .key.sharp:active {
    background-color: #333;
}

.Game .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.Game .background .top {
    height: 55vh;
    display: flex;
    align-items: flex-end;
}

.Game .background .bottom {
    height: 45vh;
    background: #00B3CC;
    background: linear-gradient( 0deg, #00B3CC 0%, #d6ff7f 100%);
}

.Game .background .top svg {
    fill: white;
    height: 100px;
    margin-bottom: -100px;
    width: 100%;
}

.Game .FinalScore {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .Game .Score {
        justify-content: center;
    }

    .Game .Display {
        min-width: 100%;
    }

    .Game .Input .key {
        max-width: 23px;
        min-width: 23px;
    }

    .Game .Input .key.sharp {
        left: 15px;
        max-width: 15px;
        min-width: 15px;
    }
}