.App {
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

.Display {
  margin-bottom: 1em;
}

.Display .line {
  border-bottom: 2px solid black;
  position: relative;
}

.Display .space {
  padding: 11px;
  position: relative;
}

.Display .note {
  background-color: black;
  border-radius: 100%;
  height: 22px;
  position: absolute;
  top: 0;
  width: 34px; 
}

.Display .line .note {
  top: -10px;
}